.maincontainer {
    height: 10vh;
    padding-left: 72px;
    padding-right: 72px;
    display: flex;
    justify-content: space-between;
    background-color: #1a1b1f;
    width: 100vw;
    font-family: var(--font-geist-sans);
}

.leftcontainer {
    display: flex;
    align-items: center;
}

.nameanddescriptioncontainer {
    margin-left: 10px;
    font-weight: 100;
    margin-right: 24px;
    font-family: var(--font-geist-sans);
}

.logoname {
    font-weight: 100;
    font-size: medium;
}

.logodesc {
    font-weight: 100;
    font-size: smaller;
}

.rightcontainer {
    display: flex;
    align-items: center;
}
